/* Container for the entire Home component */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #012b59; /* Background color for the entire page */
  padding: 50px; /* Add padding for better spacing */

}

/* Header for the website title and logo */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Logo on the left side of the header */
.logo img {
  width: 50px; /* Adjust the logo size as needed */
  height: 50px;
  margin-right: 10px; /* Spacing between logo and title */
}

/* Website title in the header */
.title {
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Text color */
}

/* Container for the "Write" and "Read" buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for the buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #21777773; /* Button background color */
  color: #ffffff; /* Button text color */
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #5f84a1; /* Hovered button background color */
}

/* Add additional CSS styles as needed */
a{
  background-color: #050505c6;
}